<% content_for :content do %>
<div class="container text-center pt-5">
	<div class="jumbotron">
		<h1>Malaysia Boleh!</h1>
	</div>
	<p class="text-muted">Source API: <%= @url %></p>
	<br>
	<div class="row">
		<div class="col-3 mx-auto">
			<div class="card text-center">
				<div class="card-header">Latest Cases</div>
				<div class="card-body">
					<h4 class="card-title">
						<% if @cases.present? %>
						<%= @cases %>
						<% else %>
						N/A
						<% end %>
					</h4>
				</div>
				<div class="card-footer text-muted">
					<% if @date.present? %>
					<%= @date.strftime("%d-%m-%Y") %>
					<% else %>
					no record for today yet
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>