<% content_for :content do %>
<div class="container text-center pt-5">
	<div class="jumbotron">
		<h1>Malaysia Boleh!</h1>
	</div>
	<p>Requesting data from <%= @url %></p>
	<br>
	<div class="row">
		<div class="col-3 mx-auto">
			<div class="card text-center">
				<div class="card-header">Today's Cases</div>
				<div class="card-body">
					<% if @cases.present? %>
					<h4 class="card-title"><%= @cases %></h4>
					<% end %>
				</div>
				<div class="card-footer text-muted"><%= @date.strftime("%d-%m-%Y") %></div>
			</div>
		</div>
	</div>
</div>
<% end %>